@page
@model WebAppDETAug2022.Pages.hellowebModel
@{
}


<h2>Welcome to my site!!</h2>
<h3>Happy @DateTime.Today.DayOfWeek!</h3>

Page Say @Model.Message

<p>Discount for today @Model.Discount%</p>
<h5>offer valid till @DateTime.Today.AddDays(3)</h5>