@model MVCDemo.Models.Speaker

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>

<div>
    <h4>Speaker</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SpeakerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
